{
"swagger": "2.0",
"info": {
"description": "Equipe ITC - Spring Boot -\n Desenvolvido pelo Decola Mercury",
"version": "2.0.0",
"title": "Desafio do Feijão",
"termsOfService": "Disponível para estudos",
"contact": {
"name": "Equipe ITC",

},
"license": {}
},
"host": "lb-0-1388852470.sa-east-1.elb.amazonaws.com",
"basePath": "/",
"tags": [
{
"name": "customers-controller",
"description": "Customers Controller"
},
{
"name": "orders-controller",
"description": "Orders Controller"
},
{
"name": "product-controller",
"description": "Product Controller"
},
{
"name": "product-image-controller",
"description": "Product Image Controller"
},
{
"name": "supplier-controller",
"description": "Supplier Controller"
}
],
"paths": {
"/api/customers": {
"get": {
"tags": [
"customers-controller"
],
"summary": "pesquisar",
"operationId": "pesquisarUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "index",
"in": "query",
"description": "index",
"required": false,
"type": "integer",
"format": "int32"
},
{
"name": "qtd",
"in": "query",
"description": "qtd",
"required": false,
"type": "integer",
"format": "int32"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«Page«CustomerResponse»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
},
"post": {
"tags": [
"customers-controller"
],
"summary": "cadastrar",
"operationId": "cadastrarUsingPOST",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "createRequest",
"description": "createRequest",
"required": true,
"schema": {
"$ref": "#/definitions/CustomerCreateRequest"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«CustomerResponse»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/api/customers/{id}": {
"get": {
"tags": [
"customers-controller"
],
"summary": "pesquisaPorId",
"operationId": "pesquisaPorIdUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "id",
"required": true,
"type": "integer",
"format": "int64"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«CustomerResponse»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
},
"put": {
"tags": [
"customers-controller"
],
"summary": "editar",
"operationId": "editarUsingPUT",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "id",
"required": true,
"type": "integer",
"format": "int64"
},
{
"in": "body",
"name": "updateRequest",
"description": "updateRequest",
"required": true,
"schema": {
"$ref": "#/definitions/CustomerUpdateRequest"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«CustomerResponse»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/api/images/upload/{productId}": {
"post": {
"tags": [
"product-image-controller"
],
"summary": "uploadImage",
"operationId": "uploadImageUsingPOST",
"consumes": [
"multipart/form-data"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "image",
"in": "formData",
"description": "image",
"required": true,
"type": "file"
},
{
"name": "productId",
"in": "path",
"description": "productId",
"required": true,
"type": "integer",
"format": "int64"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«ProductImageResponse»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/api/images/{id}": {
"put": {
"tags": [
"product-image-controller"
],
"summary": "alteraSequencia",
"operationId": "alteraSequenciaUsingPUT",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "id",
"required": true,
"type": "integer",
"format": "int64"
},
{
"name": "sequencia",
"in": "query",
"description": "sequencia",
"required": false,
"type": "integer",
"format": "int64"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«ProductImageResponse»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/api/images/{productId}": {
"get": {
"tags": [
"product-image-controller"
],
"summary": "listar",
"operationId": "listarUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "productId",
"in": "query",
"description": "productId",
"required": false,
"type": "integer",
"format": "int64"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«List«ProductImageResponse»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/api/orders": {
"get": {
"tags": [
"orders-controller"
],
"summary": "pesquisar",
"operationId": "pesquisarUsingGET_1",
"produces": [
"*/*"
],
"parameters": [
{
"name": "index",
"in": "query",
"description": "index",
"required": false,
"type": "integer",
"format": "int32"
},
{
"name": "qtd",
"in": "query",
"description": "qtd",
"required": false,
"type": "integer",
"format": "int32"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«Page«OrderSimpleResponse»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
},
"post": {
"tags": [
"orders-controller"
],
"summary": "cadastrar",
"operationId": "cadastrarUsingPOST_1",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "createRequest",
"description": "createRequest",
"required": true,
"schema": {
"$ref": "#/definitions/OrderCreateRequest"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«OrderResponse»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/api/orders/{id}": {
"get": {
"tags": [
"orders-controller"
],
"summary": "pesquisaPorId",
"operationId": "pesquisaPorIdUsingGET_1",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "id",
"required": true,
"type": "integer",
"format": "int64"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«OrderResponse»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/api/products": {
"get": {
"tags": [
"product-controller"
],
"summary": "search",
"operationId": "searchUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "index",
"in": "query",
"description": "index",
"required": false,
"type": "integer",
"format": "int32"
},
{
"name": "qtd",
"in": "query",
"description": "qtd",
"required": false,
"type": "integer",
"format": "int32"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«Page«ProductResponse»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/api/products/create": {
"post": {
"tags": [
"product-controller"
],
"summary": "insertProduct",
"operationId": "insertProductUsingPOST",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "createRequest",
"description": "createRequest",
"required": true,
"schema": {
"$ref": "#/definitions/ProductCreateRequest"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«ProductCompleteResponse»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/api/products/insertFromExcel": {
"post": {
"tags": [
"product-controller"
],
"summary": "batchInsert",
"operationId": "batchInsertUsingPOST",
"consumes": [
"multipart/form-data"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "file",
"in": "formData",
"description": "file",
"required": true,
"type": "file"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«List«ProductResponse»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/api/products/{id}": {
"get": {
"tags": [
"product-controller"
],
"summary": "searchById",
"operationId": "searchByIdUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "id",
"required": true,
"type": "integer",
"format": "int64"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«ProductCompleteResponse»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
},
"put": {
"tags": [
"product-controller"
],
"summary": "editarProduto",
"operationId": "editarProdutoUsingPUT",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "id",
"required": true,
"type": "integer",
"format": "int64"
},
{
"in": "body",
"name": "updateRequest",
"description": "updateRequest",
"required": true,
"schema": {
"$ref": "#/definitions/ProductUpdateRequest"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«ProductResponse»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/api/suppliers": {
"get": {
"tags": [
"supplier-controller"
],
"summary": "listar",
"operationId": "listarUsingGET_1",
"produces": [
"*/*"
],
"parameters": [
{
"name": "index",
"in": "query",
"description": "index",
"required": false,
"type": "integer",
"format": "int32"
},
{
"name": "qtd",
"in": "query",
"description": "qtd",
"required": false,
"type": "integer",
"format": "int32"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«Page«SupplierSimpleResponse»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
},
"post": {
"tags": [
"supplier-controller"
],
"summary": "cadastrar",
"operationId": "cadastrarUsingPOST_2",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "postModel",
"description": "postModel",
"required": true,
"schema": {
"$ref": "#/definitions/SupplierCreateRequest"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«SupplierSimpleResponse»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/api/suppliers/{id}": {
"get": {
"tags": [
"supplier-controller"
],
"summary": "pesquisaPorId",
"operationId": "pesquisaPorIdUsingGET_2",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "id",
"required": true,
"type": "integer",
"format": "int64"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«SupplierSimpleResponse»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
},
"put": {
"tags": [
"supplier-controller"
],
"summary": "editar",
"operationId": "editarUsingPUT_1",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "id",
"required": true,
"type": "integer",
"format": "int64"
},
{
"in": "body",
"name": "updateRequest",
"description": "updateRequest",
"required": true,
"schema": {
"$ref": "#/definitions/SupplierUpdateRequest"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseBase«SupplierSimpleResponse»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
}
},
"definitions": {
"CustomerCreateRequest": {
"type": "object",
"properties": {
"city": {
"type": "string"
},
"country": {
"type": "string"
},
"firstName": {
"type": "string"
},
"lastName": {
"type": "string"
},
"phone": {
"type": "string"
}
},
"title": "CustomerCreateRequest"
},
"CustomerResponse": {
"type": "object",
"properties": {
"city": {
"type": "string"
},
"country": {
"type": "string"
},
"firstName": {
"type": "string"
},
"id": {
"type": "integer",
"format": "int64"
},
"lastName": {
"type": "string"
},
"phone": {
"type": "string"
}
},
"title": "CustomerResponse"
},
"CustomerSimpleResponse": {
"type": "object",
"properties": {
"firstName": {
"type": "string"
},
"id": {
"type": "integer",
"format": "int64"
},
"lastName": {
"type": "string"
}
},
"title": "CustomerSimpleResponse"
},
"CustomerUpdateRequest": {
"type": "object",
"properties": {
"city": {
"type": "string"
},
"country": {
"type": "string"
},
"firstName": {
"type": "string"
},
"lastName": {
"type": "string"
},
"phone": {
"type": "string"
}
},
"title": "CustomerUpdateRequest"
},
"OrderCreateRequest": {
"type": "object",
"properties": {
"customerId": {
"type": "integer",
"format": "int64"
},
"orderNumber": {
"type": "string"
},
"purchaseItems": {
"type": "array",
"items": {
"$ref": "#/definitions/PurchaseItem"
}
}
},
"title": "OrderCreateRequest"
},
"OrderItemResponse": {
"type": "object",
"properties": {
"id": {
"type": "integer",
"format": "int64"
},
"productId": {
"type": "integer",
"format": "int64"
},
"productName": {
"type": "string"
},
"quantity": {
"type": "integer",
"format": "int32"
},
"unitPrice": {
"type": "number",
"format": "double"
}
},
"title": "OrderItemResponse"
},
"OrderResponse": {
"type": "object",
"properties": {
"customer": {
"$ref": "#/definitions/CustomerResponse"
},
"id": {
"type": "integer",
"format": "int64"
},
"orderDate": {
"type": "string",
"format": "date-time"
},
"orderItems": {
"type": "array",
"items": {
"$ref": "#/definitions/OrderItemResponse"
}
},
"orderNumber": {
"type": "string"
},
"totalAmount": {
"type": "number",
"format": "double"
}
},
"title": "OrderResponse"
},
"OrderSimpleResponse": {
"type": "object",
"properties": {
"customerId": {
"$ref": "#/definitions/CustomerSimpleResponse"
},
"id": {
"type": "integer",
"format": "int64"
},
"orderDate": {
"type": "string",
"format": "date-time"
},
"quantidadeProdutos": {
"type": "integer",
"format": "int32"
},
"totalAmount": {
"type": "number",
"format": "double"
}
},
"title": "OrderSimpleResponse"
},
"Pageable": {
"type": "object",
"properties": {
"offset": {
"type": "integer",
"format": "int64"
},
"pageNumber": {
"type": "integer",
"format": "int32"
},
"pageSize": {
"type": "integer",
"format": "int32"
},
"paged": {
"type": "boolean"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"unpaged": {
"type": "boolean"
}
},
"title": "Pageable"
},
"Page«CustomerResponse»": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/CustomerResponse"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "Page«CustomerResponse»"
},
"Page«OrderSimpleResponse»": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/OrderSimpleResponse"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "Page«OrderSimpleResponse»"
},
"Page«ProductResponse»": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/ProductResponse"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "Page«ProductResponse»"
},
"Page«SupplierSimpleResponse»": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/SupplierSimpleResponse"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "Page«SupplierSimpleResponse»"
},
"ProductCompleteResponse": {
"type": "object",
"properties": {
"id": {
"type": "integer",
"format": "int64"
},
"imagens": {
"type": "array",
"items": {
"$ref": "#/definitions/ProductImageResponse"
}
},
"isDiscontinued": {
"type": "boolean"
},
"name": {
"type": "string"
},
"packageName": {
"type": "string"
},
"supplier": {
"$ref": "#/definitions/SupplierProductResponse"
},
"unitPrice": {
"type": "number",
"format": "double"
}
},
"title": "ProductCompleteResponse"
},
"ProductCreateRequest": {
"type": "object",
"properties": {
"isDiscontinued": {
"type": "boolean"
},
"name": {
"type": "string"
},
"packageName": {
"type": "string"
},
"supplierId": {
"type": "integer",
"format": "int64"
},
"unitPrice": {
"type": "number",
"format": "double"
}
},
"title": "ProductCreateRequest"
},
"ProductImageResponse": {
"type": "object",
"properties": {
"id": {
"type": "integer",
"format": "int64"
},
"path": {
"type": "string"
},
"productId": {
"type": "integer",
"format": "int64"
},
"seqExibicao": {
"type": "integer",
"format": "int64"
}
},
"title": "ProductImageResponse"
},
"ProductResponse": {
"type": "object",
"properties": {
"id": {
"type": "integer",
"format": "int64"
},
"imagemPrincipal": {
"type": "string"
},
"isDiscontinued": {
"type": "boolean"
},
"name": {
"type": "string"
},
"packageName": {
"type": "string"
},
"unitPrice": {
"type": "number",
"format": "double"
}
},
"title": "ProductResponse"
},
"ProductUpdateRequest": {
"type": "object",
"properties": {
"isDiscontinued": {
"type": "boolean"
},
"name": {
"type": "string"
},
"packageName": {
"type": "string"
},
"supplierId": {
"type": "integer",
"format": "int64"
},
"unitPrice": {
"type": "number",
"format": "double"
}
},
"title": "ProductUpdateRequest"
},
"PurchaseItem": {
"type": "object",
"properties": {
"productId": {
"type": "integer",
"format": "int64"
},
"quantity": {
"type": "integer",
"format": "int32"
}
},
"title": "PurchaseItem"
},
"ResponseBase«CustomerResponse»": {
"type": "object",
"properties": {
"mensagem": {
"type": "string"
},
"objetoRetorno": {
"$ref": "#/definitions/CustomerResponse"
},
"sucesso": {
"type": "boolean"
}
},
"title": "ResponseBase«CustomerResponse»"
},
"ResponseBase«List«ProductImageResponse»»": {
"type": "object",
"properties": {
"mensagem": {
"type": "string"
},
"objetoRetorno": {
"type": "array",
"items": {
"$ref": "#/definitions/ProductImageResponse"
}
},
"sucesso": {
"type": "boolean"
}
},
"title": "ResponseBase«List«ProductImageResponse»»"
},
"ResponseBase«List«ProductResponse»»": {
"type": "object",
"properties": {
"mensagem": {
"type": "string"
},
"objetoRetorno": {
"type": "array",
"items": {
"$ref": "#/definitions/ProductResponse"
}
},
"sucesso": {
"type": "boolean"
}
},
"title": "ResponseBase«List«ProductResponse»»"
},
"ResponseBase«OrderResponse»": {
"type": "object",
"properties": {
"mensagem": {
"type": "string"
},
"objetoRetorno": {
"$ref": "#/definitions/OrderResponse"
},
"sucesso": {
"type": "boolean"
}
},
"title": "ResponseBase«OrderResponse»"
},
"ResponseBase«Page«CustomerResponse»»": {
"type": "object",
"properties": {
"mensagem": {
"type": "string"
},
"objetoRetorno": {
"$ref": "#/definitions/Page«CustomerResponse»"
},
"sucesso": {
"type": "boolean"
}
},
"title": "ResponseBase«Page«CustomerResponse»»"
},
"ResponseBase«Page«OrderSimpleResponse»»": {
"type": "object",
"properties": {
"mensagem": {
"type": "string"
},
"objetoRetorno": {
"$ref": "#/definitions/Page«OrderSimpleResponse»"
},
"sucesso": {
"type": "boolean"
}
},
"title": "ResponseBase«Page«OrderSimpleResponse»»"
},
"ResponseBase«Page«ProductResponse»»": {
"type": "object",
"properties": {
"mensagem": {
"type": "string"
},
"objetoRetorno": {
"$ref": "#/definitions/Page«ProductResponse»"
},
"sucesso": {
"type": "boolean"
}
},
"title": "ResponseBase«Page«ProductResponse»»"
},
"ResponseBase«Page«SupplierSimpleResponse»»": {
"type": "object",
"properties": {
"mensagem": {
"type": "string"
},
"objetoRetorno": {
"$ref": "#/definitions/Page«SupplierSimpleResponse»"
},
"sucesso": {
"type": "boolean"
}
},
"title": "ResponseBase«Page«SupplierSimpleResponse»»"
},
"ResponseBase«ProductCompleteResponse»": {
"type": "object",
"properties": {
"mensagem": {
"type": "string"
},
"objetoRetorno": {
"$ref": "#/definitions/ProductCompleteResponse"
},
"sucesso": {
"type": "boolean"
}
},
"title": "ResponseBase«ProductCompleteResponse»"
},
"ResponseBase«ProductImageResponse»": {
"type": "object",
"properties": {
"mensagem": {
"type": "string"
},
"objetoRetorno": {
"$ref": "#/definitions/ProductImageResponse"
},
"sucesso": {
"type": "boolean"
}
},
"title": "ResponseBase«ProductImageResponse»"
},
"ResponseBase«ProductResponse»": {
"type": "object",
"properties": {
"mensagem": {
"type": "string"
},
"objetoRetorno": {
"$ref": "#/definitions/ProductResponse"
},
"sucesso": {
"type": "boolean"
}
},
"title": "ResponseBase«ProductResponse»"
},
"ResponseBase«SupplierSimpleResponse»": {
"type": "object",
"properties": {
"mensagem": {
"type": "string"
},
"objetoRetorno": {
"$ref": "#/definitions/SupplierSimpleResponse"
},
"sucesso": {
"type": "boolean"
}
},
"title": "ResponseBase«SupplierSimpleResponse»"
},
"Sort": {
"type": "object",
"properties": {
"empty": {
"type": "boolean"
},
"sorted": {
"type": "boolean"
},
"unsorted": {
"type": "boolean"
}
},
"title": "Sort"
},
"SupplierCreateRequest": {
"type": "object",
"properties": {
"city": {
"type": "string"
},
"companyName": {
"type": "string"
},
"contactName": {
"type": "string"
},
"contactTitle": {
"type": "string"
},
"country": {
"type": "string"
},
"fax": {
"type": "string"
},
"phone": {
"type": "string"
}
},
"title": "SupplierCreateRequest"
},
"SupplierProductResponse": {
"type": "object",
"properties": {
"city": {
"type": "string"
},
"companyName": {
"type": "string"
},
"id": {
"type": "integer",
"format": "int64"
},
"phone": {
"type": "string"
}
},
"title": "SupplierProductResponse"
},
"SupplierSimpleResponse": {
"type": "object",
"properties": {
"city": {
"type": "string"
},
"companyName": {
"type": "string"
},
"contactName": {
"type": "string"
},
"country": {
"type": "string"
},
"fax": {
"type": "string"
},
"id": {
"type": "integer",
"format": "int64"
},
"phone": {
"type": "string"
}
},
"title": "SupplierSimpleResponse"
},
"SupplierUpdateRequest": {
"type": "object",
"properties": {
"city": {
"type": "string"
},
"companyName": {
"type": "string"
},
"contactName": {
"type": "string"
},
"country": {
"type": "string"
},
"fax": {
"type": "string"
},
"phone": {
"type": "string"
}
},
"title": "SupplierUpdateRequest"
}
}
}